@model NewsEngineTemplate.Models.News

@if (ViewData.ContainsKey("notification"))
{
    <h3 class="alert alert-@ViewBag.notificationClass" role="alert">@ViewBag.notification</h3>
    <br />
}

<div class="panel-body bg-dark">
    <h1 class="text-center">@Model.Title</h1>

    <div class="col">
        <div class="col">
            <p>@Model.Content</p>
        </div>

        <h6 class="mt-1 article-id py-3">@Model.PublishDate | @Model.User.UserName</h6>

        @if (ViewBag.isAdmin || ViewBag.isEditor && @Model.User.Id == ViewBag.userID)
        {
            <div class="d-flex flex-row">
                <a href="/news/edit/@Model.ID">
                    <button class="btn btn-outline-warning btn-lg mx-2">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
                <form method="post" action="/news/delete/@Model.ID" class="form-group">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-outline-danger btn-lg">
                        <i class="fas fa-trash"></i>
                    </button>
                    @*
                        #TODO: Bootstrap modal to confirm action
                        #TODO: Category edit history
                    *@
                </form>
            </div>
        }
    </div>
</div>