@model NewsEngineTemplate.Models.News

@{
    ViewBag.Titlu = "Edit news article";
}

@if (ViewData.ContainsKey("notification"))
{
    <h3 class="alert alert-@ViewBag.notificationClass" role="alert">@ViewBag.notification</h3>
}

<div class="list-group-item d-flex justify-content-between lh-condensed bg-dark">
    <div class="container">
        <div class="container">
            @using (Html.BeginForm("edit", "news", FormMethod.Post, new { @class = "form-group d-flex flex-column", role = "margin:1em auto; position: relative; width: 100%" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Put)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.UserID)

                @Html.HiddenFor(m => m.ID)

                <div class="form-group row">
                    @Html.Label("Title", "Article Title", new { @class = "col-2 col-form-label" })
                    <div class="col-10">
                        @Html.TextBox("Title", @Model.Title, new { @class = "form-control article-title-input", value = "Insert article title" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger " })

                </div>

                <div class="form-group row">
                    @Html.Label("Content", "Article content", new { @class = "col-2 col-form-label" })
                    <div class="col-10">
                        @Html.TextArea("Content", @Model.Content, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger " })
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Category</label>
                    <div class="col-10">
                        @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.Categories, "Value", "Text"),
                     "Select category", new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger " })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("isProposal", "In proposal state", new { @class = "col-2 col-form-label" })
                    <div class="col-10">
                        @Html.CheckBox("isProposal", Model.isProposal, new { @class = "big-checkbox" })
                    </div>
                </div>

                @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })


                <button type="submit" class="btn btn-outline-success btn-lg" style="min-width: 12vw; align-self:center;">
                    <i class="fa fa-check mx-2"></i> Update article
                </button>
            }

            <form method="post" action="/news/delete/@Model.ID" class="form-group">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit" class="btn btn-outline-danger btn-lg" style="min-width: 12vw">
                    <i class="fa fa-trash mx-2"></i> Delete article
                </button>
                @*
                    #TODO: Bootstrap modal to confirm action
                    #TODO: News article edit history
                *@
            </form>
        </div>
    </div>
</div>
